body{background-color: #eaf6f6;}
hr
{
 border-style:none;
 border-top: dotted;
 border-color: grey;
 border-width: 5px;
 width:10%;

}
h1{
  color:#ff5858;
  font-style: oblique;
}
h3{
  color:#66bfbf;
}
